body{background-color: #000000;}
p {font-size: 24px;color:#dedede;}
.navbar{
    background: #000000;
    border-bottom: 1px solid #555555;
}
.dropdown-item:hover{
    background: transparent!important;
}
.dropdown-item a{
    color:white!important;
}
.submitcard{
    
    border: 2px solid #555555;
}
.maintitle{font-size: 36px;color:#c90972}
.subtitle{font-size: 28px; font-weight: 600;}
.card_body{padding:30px;}
.card_footer{background:#bbbbbb;}
.card_footer ul {padding:0px;margin:0px;}
.card_footer ul li{display: inline-block;width:49%;padding:25px;}
.card_footer ul li p{margin:0px;font-size: 24px;color:#222222;}
.infotype{color:#cc0404;}

