/***********Shows Page Structure*************/

.kaltura-player-wrapper object {
    width: 100% !important;
    height: 300px !important;
}

.focusHandler_looplist .h4 {
    margin-top: 0.25em;
    margin-bottom: 0;
}

.greyBG .focusHandler_looplist:hover .focusHighlight {
    border-left: 5px solid #e87511;
    background-color: #FFFFFF;
}

time {
    text-transform: capitalize;
}

#error p {
    color: #ff0000;
}

/****************** Test Video Pop Up CSS *****************************************/

/****************** Video Browse CSS**********************************************/
.browseVideosList .cta.item {
    margin-bottom: 2em;
}

/****************** Expanded Video CSS *******************************************/

/****************** INTERNATIONAL HEADER INCL STYLES *******************/

.int-nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/****************** INTERNATIONAL HEADER INCL STYLES *******************/

/******************LIST PAGINATION STYLE START*******************/

/******************LIST PAGINATION STYLE END*******************/

hr {
    /*ensure element doesnt collide with others*/
    clear: both;
}

.padY {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container:after, .row:last-child:after {
    content: "";
    clear: none;
    display: none !important;
    visibility: hidden;
}

.hero h1 {
    width: 100%;
    margin-top: 7%;
}

#featuredImage .shortcode_btn {
    float: left;
    width: 290px;
    clear: both;
    font-weight: bold
}

#featuredImage.content .content.hero_light .h1 {
    margin-top: 16%;
    font-size: 3em;
}

#featuredImage .center_hero_content .shortcode_btn {
    float: none;
    width: 290px;
}

#featuredImage .hero_dark .shortcode_btn, #featuredImage .center_hero_content .hero_dark .shortcode_btn, #featuredImage .hero_light .shortcode_btn.greyDark_bg, #featuredImage .center_hero_content .hero_light .shortcode_btn.greyDark_bg {
    background-color: #262626;
}

#featuredImage .hero_dark .shortcode_btn:hover, #featuredImage .center_hero_content.hero_dark .shortcode_btn:hover, #featuredImage .hero_light .shortcode_btn.greyDark_bg:hover, #featuredImage .center_hero_content.hero_light .shortcode_btn.greyDark_bg:hover, #featuredImage .hero_dark .shortcode_btn:focus, #featuredImage .center_hero_content.hero_dark .shortcode_btn:focus, #featuredImage .hero_light .shortcode_btn.greyDark_bg:focus, #featuredImage .center_hero_content.hero_light .shortcode_btn.greyDark_bg:focus {
    background-color: #e87511;
    border: 0;
}

#featuredImage .hero_dark .shortcode_btn, #featuredImage .center_hero_content.hero_light .shortcode_btn, #featuredImage .hero_dark .shortcode_btn.d2lOrange_bg, #featuredImage .center_hero_content.hero_dark .shortcode_btn.d2lOrange_bg {
    background-color: #e87511;
}

#featuredImage .hero_light .shortcode_btn:hover, #featuredImage .center_hero_content.hero_light .shortcode_btn:hover, #featuredImage .hero_dark .shortcode_btn.d2lOrange_bg:hover, #featuredImage .center_hero_content.hero_dark .shortcode_btn.d2lOrange_bg:hover, .greyLight25_bg:hover, .greyLight25_bg:focus, #featuredImage .hero_light .shortcode_btn:focus, #featuredImage .center_hero_content.hero_light .shortcode_btn:focus, #featuredImage .hero_dark .shortcode_btn.d2lOrange_bg:focus, #featuredImage .center_hero_content.hero_dark .shortcode_btn.d2lOrange_bg:focus, .greyLight25_bg:hover {
    background-color: #262626;
    border: 0;
}

.hero_light h1, .hero_light .h1 {
    color: #FFFFFF;
}

.hero_light time {
    display: inline
}

.stickyPostAnchor time {
    display: inline
}

article header.hero_light h2 {
    text-align: left;
    margin-left: 8.333%;
    padding-left: 0;
    margin-bottom: 20px;
}

article header.hero_light h2:focus {
    outline-width: 0;
}

/*******************SHORT CODE Square BTN*************/

.shortcode_btn:hover, .shortcode_btn:focus {
    color: white;
}

.shortcode_btn.d2lOrange_bg:hover, .shortcode_btn.d2lOrange_bg:focus {
    background-color: #262626;
    border: 0;
}

/*******************WIDGET FULL WITH BACKGROUND*******/

.whiteBG {
    background-color: #FFFFFF;
}

.whiteBG .focusHighlight a:focus {
    background-color: #F1F1F1;
    border: 1px solid gainsboro;
}

.greyBG {
    background-color: #F1F1F1;
}

.focusHighlight a, .focusHighlight a:hover, .focusHighlight a:focus {
    color: #565a5c;
    font-weight: normal;
}

.focusHighlight label {
    cursor: pointer;
    display: block;
}

/*********WIDGETS*********************************/
/************Segment Links & Call to actions******/

.segment label {
    margin-bottom: 0.4em;
}

/**************Large Highlight Widget**********************/

.focusHandler p {
    height: 88px;
    overflow: hidden;
}

.cta a, .cta a:hover, .cta a:visited {
    color: #565a5c;
    font-weight: normal;
    display: block;
    text-decoration: none;
    border: 0;
}

/*Ensures no matter where the user is hovering on the call to action item the hover state is initiated*/

p.largeHighlightContent a {
    margin: 10.5px 0 0 0;
    display: inline-block;

}

p.smallHighlightContent a {
    margin: 0 0 0 0;
    display: inline-block;

}

.hightlightImgContainer div {
    height: 140px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.smallHighlight .hightlightImgContainer div {
    height: 105px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/**************Large Highlight Widget Pagination***********/
.highlightWidget input[type="button"] {
    margin-top: 1.6em;
}

p, .bodyCopy {
    font-family: "ars-maquette-web", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #565a5c;
}

/********************FOOTER***********************/

footer {
    background-color: #262626;
    padding-bottom: 1.6em;
    padding-top: 1.6em;
}

footer a:hover, footer a:focus {
    background-color: transparent
}

/*Pin Footer to Bottom of the page even if the content doesn't take up the browser windows height*/

/*Desire2Learn Blog Theme*/

/********************Sticky Blog Post************/
/** Social Networking Icons for the featured blog post **/

.sticky time {
    clear: none;
    float: right;
    text-align: right;
}

.sticky h2 {
    margin: 0.8em 0 0.8em 0;
}

/********List post structure******************/

.blogListContainer header {
    font-size: 12px;
}

.blogListContainer article {
    border-bottom: 0;
}

time {
    display: block;
}

#authorAdditionalReading h3 {
    margin-top: 0.8em;
}

.authorTemplateFeaturedArticle article {
    min-height: 5px;
}

.authorTemplateFeaturedArticle summary {
    margin-bottom: 1.6em;
}

article h2 {
    margin-bottom: 0.15em;
    margin-top: 0.05em;
}

article.post summary a {
    margin-top: 0.2em;
    display: block;
    width: 106px;
    clear: both;
}

.mobile article time {
    margin-bottom: 0;
}

.mobile article header, .mobile article summary {
    padding-left: 0 !important;
}

.mobile .featuredBlogSummary p {
    padding-top: 21px;
}

article time {
    text-align: left;
    float: left;
}

article:first-child {
    padding-top: 0;
}

article {
    display: block;
    clear: both;
    height: auto;
    border-bottom: 1px solid gainsboro;
}

/*article{min-height: 200px;}*/

.loopBlogImage .featuredImage img {
    margin-left: 0;
    max-width: 150px;
    max-height: 150px;
}

.featuredBlogPost article {
    border-bottom: 0;
}

/*Expanded Post*/

.single-post article time {
    clear: none;
    float: left;
    display: inline;
}

.single-post article {
    height: auto;
}

.single-post article h2 {
    margin-bottom: 0.2em;
}

.single-post article header h1 {
    margin-bottom: 21px;
}

/*Author Box*/

#authorBox hr {
    margin-top: 0;
}

.authorTemplateFeaturedArticle h3, .single-post .authorTemplateFeaturedArticle article time, .authorTemplateFeaturedArticle summary {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.authorTemplateFeaturedArticle h4 {
    margin-top: 0.4em;
}

/* Assistive text */

/***************Press Specific *****************************/

.post-type-archive-pressrelease.pressrelease article {
    margin-bottom: 0;
}

.post-type-archive-pressrelease.pressrelease article summary {
    display: block;
    clear: both;
    font-family: "ars-maquette-web", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #565a5c;
}

/*plusIcon cannot hide an show on hover must be background image or no background image otherwise there is a jolt in the height of the parent container */

.pressrelease article summary {
    font-weight: bold;
    margin-top: 0;
    display: block;
    clear: both
}

.pressrelease article time, .focusHandler_looplist time {
    clear: none;
    line-height: 1.15;
    text-align: center;
}

.mobile article time, .mobile .focusHandler_looplist time {
    clear: none;
    line-height: 1.15;
    text-align: left !important;
    padding-left: 0 !important;
    margin-bottom: 5px;
}

.pressrelease header summary p {
    margin-bottom: 0;
}

.box_wrapper p:last-child {
    margin-bottom: 0;
}

/**************Press Author*********************************/

.author_contact_card hr {
    margin-bottom: 0;
    margin-top: 10px;
}

/*author template*/
.avatarContainer img {
    width: 100%;
    height: 100%;
}

.author h1 {
    margin-bottom: 0;
}

/****** Form Try now **/
.req {
    display: block;
    float: right;
    color: red;
    padding-right: 5px;
    padding-left: 5px
}

/**try now or seperator*****/

/***************Events Overview Specific *****************************/

.events-overview-top h2 {
    text-align: center;
    margin-bottom: 0;
}

.events-overview-top-item a {
    height: auto;
}

/***************Events Specific *****************************/

.events-item img {
    float: left;
    margin: 0 10px 10px 0;
}

.events-item div {
    overflow: hidden;
}

.events-item .shortcode_btn {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 0;
}

/***************Filter Specific *****************************/

#filterForm .filter-textbox-wrapper label {
    text-indent: -9909px;
    height: 0;
    line-height: 0;
    margin: 0;
}

#filterForm input[type="text"] {
    width: 100%;
    color: #565A5C;
    padding: 5px;
    border: 1px solid #cccccc;
    line-height: normal;
}

.filter-content select {
    width: 100%;
}

.close_filter_dropdown span {
    visibility: hidden;
}

.shortcode_btn, .skipGallery, .skipFooter {
    font-weight: bold;
    width: 100%;
    height: 50px;
    border: 0;
    margin: auto;
    display: block;
    font-family: "Helvetica Neue", Helvetica-, Arial, sans-serif;
    letter-spacing: 1px;
    padding: 12px;
    text-align: center;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    color: white;
}

/***************Webinar Registration Form Specific *****************************/

.registration-form h2 {
    text-align: center;
}

.registration-form label {
    width: 100%;
    text-transform: none;
}

.registration-form input[type="text"], .registration-form input[type="submit"], .registration-form select, #cancelRegistration {
    width: 100%;
}

.registration-form input[type="checkbox"] {
    margin-right: 5px;
}

.error-msg{color:#ff0000;}
.hidden{display: none}

@media (max-width: 1350px) {
    .hero h1, .hero .h1 {
        margin-top: 4%;
        font-size: 4.1em;
    }

}

@media (max-width: 1140px) {

    .hero h1, .hero .h1 {
        margin-top: 3%;
        font-size: 3.7em;
    }

}

@media (max-width: 501px) {

    #featuredImage .shortcode_btn {
        width: 100%;
    }

    .cta.small .focusHandler label {
        font-size: 1.2em;
    }

}

@media (max-width: 719px) {
    article h2 {
        margin-bottom: .85em;
    }

    .sticky time {
        text-align: left;
    }

    article time {
        margin-bottom: 1.6em;
    }

    article header {
        width: 100%;
    }

    .authorTemplateFeaturedArticle article time {
        margin-bottom: 0
    }

}

@media (max-width: 991px) {

    .loopBlogImage .featuredImage img {
        width: 100%;
        max-height: 142px;
    }

}

@media (max-width: 300px) {
    .hero h1, .hero .h1 {
        margin-top: 5px;
    }

}
